.home {
    width: 100%;
    height: 130vh;
    background-image: url("https://images.unsplash.com/photo-1435575653489-b0873ec954e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-position: center;
  }

  
  .cover{
    width: 100%;
    height: 130vh;
    background-color: rgba(0, 0, 0, 0.36); //DE ESTA MANERA LA OPACIDAD SOLO SE LE HACE A ESTE ELEMENTO Y NO A LO QUE ESTA DENTRO DE EL
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

.container{
    position: relative;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
         
}

body{
    margin-top:20px;
    background:#FAFAFA;
    position: absolute;
    margin-top: 50%;

}
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#5eaefff2,#5eaefff2);
}

.bg-c-green {
    background: linear-gradient(45deg,#fe6047,#fe6047);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#212127,#212127);
}

.bg-c-pink {
    background: linear-gradient(45deg,#212127,#212127);
}


.card {
    border-radius: 0px;
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 7px 13px 37px #000000;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}