<h2>Crear tipo de cuenta</h2>

<form action="#" method="get">
  <div>
    <label for="name">Tipo de cuenta:</label>
    <input type="text" id="name" name="name">
  </div>
</form>

<h2>Inserte sus datos: </h2>

<form>
  <div>
    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email">
  </div>
  <div>
  <div>
    <label for="phone">Telefono:</label>
    <input type="number" id="phone" name="phone">
  </div>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password">
  </div>
  <div>
    <label for="password2">Confirmar Contraseña:</label>
    <input type="password" id="password2" name="password2">
  </div>

  <button type="submit">Crear</button>
</form>




