<table class="table-auto border border-collapse rounded-lg w-full h-full mx-auto">
  <caption></caption>
  <thead class="bg-gray-800">
    <tr class="text-white text-left">
      <th class="py-3">Moneda</th>
      <th class="py-3">Compra</th>
      <th class="py-3">Venta</th>
    </tr>
  </thead>
  <tbody>
    <tr class="transition duration-300 ease-in-out hover:bg-gray-100 border-hidden text-left whitespace-nowrap">
      <td class="py-3"><i class="fa fa-dollar"></i> USD</td>
      <td class="py-3">37,80</td>
      <td class="py-3">40,30</td>
    </tr>
    <tr class="transition duration-300 ease-in-out hover:bg-gray-100 border-hidden text-left whitespace-nowrap">
      <td class="py-3"><i class="fa fa-eur"></i> EUR</td>
      <td class="py-3">39,36</td>
      <td class="py-3">44,23</td>
    </tr>
    <tr class="transition duration-300 ease-in-out hover:bg-gray-100 border-hidden text-left whitespace-nowrap">
      <td class="py-3"><b>R<i class="fa fa-dollar"></i></b> Real</td>
      <td class="py-3">7,15</td>
      <td class="py-3">8,95</td>
    </tr>
    <tr class="transition duration-300 ease-in-out hover:bg-gray-100 border-hidden text-left whitespace-nowrap">
      <td class="py-3"><i class="fa fa-gbp"></i> Libra</td>
      <td class="py-3">44,47</td>
      <td class="py-3">50,43</td>
    </tr>
  </tbody>
</table>
