<br>
<br>

<h2 class="text-xl-center">-*-*-*-*-* Transformaciones de datos SIN observable *-*-*-*-*-</h2>
<br>
<br>
<h3 class="text-xl-center" *ngIf="Email()">{{(Email())}}</h3>
<h3 class="text-xl-center" *ngIf="cedula()">{{(cedula())}}</h3>
<h3 class="text-xl-center" *ngIf="Fullname()">{{(Fullname())}}</h3>
<br>


<h2 class="text-xl-center">*-*-*-*-*- Transformaciones de datos CON observables *-*-*-*-*-</h2>
<br>
<br>
<h3 class="text-xl-center" >{{(Mayus() )}}</h3>
<h3 class="text-xl-center" >{{(Pass() )}}</h3>
<h3 class="text-xl-center" >{{(Document() )}}</h3>
<br>

<h2 class="text-xl-center">*-*-*-*-*- Composicion de funciones *-*-*-*-*-</h2>
<br>
<h3 class="text-xl-center" *ngIf="Info(showInfo)">{{Info(showInfo)}}</h3> 
<br>
<br>




<section class="form-register"  *ngIf="(true)">
    <h4>Sign In</h4>
    <form>
      <input class="controls" type="text" id="tipo" name="tipo"  placeholder="Usuario">
      <input class="controls" type="text" id="nombre" name="nombre"  placeholder="Contraseña">
 

      <p>Ya casi terminamos!</p>
      <button class="boton" type="submit" >Guardar</button>
      <button class="boton"  [routerLink]="['/app-home']" type="submit" >Volver</button>
      <p>¡Listo!</p>
    </form>
  </section>
<!--

-->


