<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <h2>Deposito</h2>
      <form [formGroup]="depositForm">
        <div class="form-group">
          <label for="accountType">Seleccione su tipo de cuenta </label>
          <select class="form-control" formControlName="accountType" id="accountType" (change)="updateSelectedAccount($event)">
            <option value="">Seleccione una opción</option>
            <option *ngFor="let account of accounts" [value]="account.id">{{account.accountType.name  }}</option>
          </select>

        </div>
        <div class="form-group">
          <label for="depositAmount">Saldo</label>
          <input type="text" class="form-control" formControlName="depositAmount" id="depositAmount" (input)="getAmount()">
        </div>
        <div class="modal-footer">
          <button   (click)="this.DepositService.createdeposit()"   [disabled]="!depositForm.valid"   (click)="onSave()" type="button" class="btn btn-primary">Validar</button>
          <button     (click)="onClose()" type="button" class="btn btn-outline-dark" >Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>



