
<div style="text-align: center; height: 90%;">
  <div class="body">
    <div class="login">

      <mat-spinner *ngIf="loading" class="spinner" diameter="50" style="margin:50% auto;"></mat-spinner>

      <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="login()" style="padding: 10px;">
        <div style="background-color: aquamarine;">
          <h1>Welcome!</h1>
          <h2>Please login</h2>
        </div>

        <img src="../../../../assets/img/usuario.png" alt="login" width="10%" style="margin-top: 20px; margin-bottom: 20px;">

        <div style="background-color:gray;">
          <mat-form-field class="formFieldSize" appearance="fill" style="margin-top: 20px;">
            <mat-label>e-Mail</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="username">
          </mat-form-field>
          <mat-form-field class="formFieldSize" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput autocomplete="off" formControlName="password">
          </mat-form-field>
        </div>
        <br>
        <button type="submit" class="signin-button" color="primary" [disabled]="form.invalid">Sign In</button>
      </form>
      <div style="margin-top: 10px;">
        <h3>Dont have an account yet? <a href="signup">Click Here!</a> </h3>
      </div>

    </div>

  </div>

</div>
