<table class="table-auto border border-collapse rounded-lg w-full mx-auto">
  <caption></caption>
  <thead class="bg-gray-800">
    <tr class="text-white text-left">
      <th class="table-cell py-3">ID</th>
      <th class="table-cell py-3">Nombre</th>
      <th class="table-cell py-3">Documento</th>
      <th class="table-cell py-3">Tipo de documento</th>
      <th class="table-cell py-3">Email</th>
      <th class="table-cell py-3">Telefono</th>
      <th class="table-cell py-3">Avatar</th>
      <th class="table-cell py-3">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of CustomerList" class="transition duration-300 ease-in-out hover:bg-gray-100 border-hidden text-left whitespace-nowrap">
      <td class="table-cell py-3">{{customer.fullName}}</td>
      <td class="table-cell py-3">{{customer.document}}</td>
      <td class="table-cell py-3">{{customer.documentType.name}}</td>
      <td class="table-cell py-3">{{customer.email}}</td>
      <td class="table-cell py-3">{{customer.phone}}</td>
      <td class="table-cell py-3">
        <img *ngIf="customer?.avatarUrl" class="h-8 w-8 rounded-full" src="{{customer?.avatarUrl}}" alt="">
        <b *ngIf="!customer?.avatarUrl" class="text-lg"> No tiene </b>
      </td>
      <td class="table-cell py-3">{{customer.state}}</td>
    </tr>
  </tbody>
</table>
