<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Banco</a>

    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tu cuenta
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Opción 1</a>
            <a class="dropdown-item" href="#">Opción 2</a>
            <a class="dropdown-item" href="#">Opción 3</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Servicios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Opción 1</a>
            <a class="dropdown-item" href="#">Opción 2</a>
            <a class="dropdown-item" href="#">Opción 3</a>
          </div>
        </li>

      </ul>
      <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-primary my-2 my-sm-0 mr-2" [routerLink]="['/singup']">Registrarse</button>
        <button class="btn btn-outline-primary my-2 my-sm-0 mr-2" [routerLink]="['/customer']">Mi cuenta</button>
        <button class="btn btn-outline-success my-2 my-sm-0"[routerLink]="['/singin']">Iniciar Sesión</button>
        <button class="btn btn-outline-primary my-2 my-sm-0 mr-2"[routerLink]="['/createdeposit']">Depositar</button>
        <button class="btn btn-outline-primary my-2 my-sm-0 mr-2"[routerLink]="['/help']">Help</button>
        <button class="btn btn-outline-primary my-2 my-sm-0 mr-2"[routerLink]="['/createaccount']">Crear tipo de cuenta</button>
        <button class="btn btn-outline-primary my-2 my-sm-0 mr-2"[routerLink]="['/singin']" (click)="salir()">Salir</button>
      </div>
    </div>
  </div>

