<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>

    <button >
      <p [routerLink]="['/profile']">menu</p ><a ></a>
    </button>
    <button >
      <p [routerLink]="['/ejercicio']">ejercicio</p ><a ></a>
    </button>
    <button >
      <p [routerLink]="['/Myaccount']">account</p ><a ></a>
    </button>
    <button >
      <p [routerLink]="['/profile']">transfer</p ><a ></a>
    </button>


    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
