<div class="d-flex flex-column align-items-center">
    <img alt="fotoperfil" [src]="customer?.avatarUrl || 'https://i.pinimg.com/474x/bd/f4/d3/bdf4d3fe1f9a17136319df951fe9b3e0.jpg'" class="rounded-circle w-10 h-10 mt-3">
  
    <h2 class="text-xl font-weight-bold">Nombre completo:  <ng-container *ngIf="customer">{{ customer.fullName }}</ng-container></h2>
    <h2 class="text-xl font-weight-bold">Documento: <ng-container *ngIf="customer">{{ customer.document }}</ng-container></h2>
    <h2 class="text-xl font-weight-bold">Documento ID: <ng-container *ngIf="customer">{{ customer.documentType.id }}</ng-container></h2>
    <h2 class="text-xl font-weight-bold">Correo: <ng-container *ngIf="customer">{{ customer.email }}</ng-container></h2>
    <h2 class="text-xl font-weight-bold">Telefono: <ng-container *ngIf="customer">{{ customer.phone }}</ng-container></h2>
    <br>
    <button class="btn btn-primary" (click)="Edit()">Editar datos</button>
    <br>
    <button [routerLink]="['/account']"class="btn btn-primary mb-2">Confirmar</button>
    <br>
    <button   (click)="deleteCustmer()"   class="btn btn-danger">Borrar cuenta</button>
  </div>



<div class="container">
    <nav>
            <ul class="mcd-menu">
                <li>
                    <a href="">
                        <i class="fa fa-home"></i>
                        <strong>Home</strong>
                        
                    </a>
                </li>
                <li>
                    <a href="" class="active">
                        <i class="fa fa-edit"></i>
                        <strong>Deposit</strong>
                        
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-gift"></i>
                        <strong>transfer</strong>
                        
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-globe"></i>
                        <strong>News</strong>
                       
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-comments-o"></i>
                        <strong>Blog</strong>
                       
                    </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-globe"></i>Mission</a></li>
                        <li>
                            <a href="#"><i class="fa fa-group"></i>Our Team</a>
                            <ul>
                                <li><a href="#"><i class="fa fa-female"></i>Leyla Sparks</a></li>
                                <li>
                                    <a href="#"><i class="fa fa-male"></i>Gleb Ismailov</a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-leaf"></i>About</a></li>
                                        <li><a href="#"><i class="fa fa-tasks"></i>Skills</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><i class="fa fa-female"></i>Viktoria Gibbers</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-trophy"></i>Rewards</a></li>
                        <li><a href="#"><i class="fa fa-certificate"></i>Certificates</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-picture-o"></i>
                        <strong>Portfolio</strong>
                        
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-envelope-o"></i>
                        <strong>Contacts</strong>
                        
                    </a>
                </li>
                <li class="float">
                    <a class="search">
                        <input type="text" value="search ...">
                        <button><i class="fa fa-search"></i></button>
                    </a>
                    <a href="" class="search-mobile">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>