<div style="text-align: center; height: 90%;">
  <div class="body">
    <div class="login">

      <mat-spinner *ngIf="loading" class="spinner" diameter="100" strokeWidth="15" color="accent"
        style="margin:50% auto;"> </mat-spinner>

      <mat-card *ngIf="!loading" style="margin-top: 10px; background-color: rgb(95, 158, 160, .4) ;">

        <div style="background-color:rgb(138, 43, 226, .8); margin-bottom: 10px;">
          <h1>Welcome!</h1>
          <h2>Please login</h2>
        </div>

        <img src="../../../../assets/img/shield.png" alt="login" width="50%" style="margin: auto;">

        <form [formGroup]="signinForm" (ngSubmit)="login()" style="padding: 10px;">

          <div style="background-color:gray;">




            <mat-form-field class="formFieldSize" appearance="fill" style="margin-top: 20px;">
              <mat-label>e-Mail</mat-label>
              <input type="text" matInput autocomplete="on" formControlName="username">
            </mat-form-field>
            <mat-form-field class="formFieldSize" appearance="fill" style="margin-top: 10px;">
              <mat-label>Password</mat-label>
              <input [type]="hide ? 'password' : 'text'" matInput autocomplete="off" formControlName="password">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint *ngIf="!signinForm.value.password">Enter your password</mat-hint>
            </mat-form-field>

            <button class="signin-button" type="submit" mat-raised-button color="primary"
              [disabled]="signinForm.invalid" style="margin: 10px;">Sign In</button>

          </div>
        </form>
        <button class="signin-button" mat-raised-button color="warn" style="margin: 20px auto; " (click)="loginWithGoogle()"> Login with Google
        </button>
        <div class="foot-message">
          <h3>Dont have an account yet? <a href="/signup">Click Here!</a> </h3>
        </div>

      </mat-card>

    </div>

  </div>

</div>
