<div class="d-flex flex-column align-items-center">
  <img alt="fotoperfil" [src]="customer?.avatarUrl || 'https://i.pinimg.com/474x/bd/f4/d3/bdf4d3fe1f9a17136319df951fe9b3e0.jpg'" class="rounded-circle w-10 h-10 mt-3">

  <h2 class="text-xl font-weight-bold">Nombre completo:  <ng-container *ngIf="customer">{{ customer.fullName }}</ng-container></h2>
  <h2 class="text-xl font-weight-bold">Documento: <ng-container *ngIf="customer">{{ customer.documentType.name }}</ng-container></h2>
  <h2 class="text-xl font-weight-bold">Documento ID: <ng-container *ngIf="customer">{{ customer.documentType.id }}</ng-container></h2>
  <h2 class="text-xl font-weight-bold">Correo: <ng-container *ngIf="customer">{{ customer.email }}</ng-container></h2>
  <h2 class="text-xl font-weight-bold">Telefono: <ng-container *ngIf="customer">{{ customer.phone }}</ng-container></h2>
  <br>
  <button class="btn btn-primary" (click)="openEditModal()">Editar datos</button>
  <br>
  <button [routerLink]="['/account']"class="btn btn-primary mb-2">Confirmar</button>
  <br>
  <button   (click)="alertdelete()"   class="btn btn-danger">Borrar cuenta</button>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Registro</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="modal-header">
    <h4 class="modal-title">Update</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-header">
      <h4 class="modal-title">Registro</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-update-customer></app-update-customer>
  </div>

  <div class="modal-footer">

    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close()"
    >
      Cerrar
    </button>
  </div>
</ng-template>
