<div class="d-flex align-items-center" style="background-color: rgba(220, 220, 220, 0.5);">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column align-items-start">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID de Cuenta</th>
              <th scope="col">Tipo de Cuenta </th>
              <th scope="col">Balance</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of accountUser">
              <td>{{ account.id }}</td>
              <td>{{ account.accountType.name }}</td>
              <td>${{ account.acc_Balance }}</td>
              <td>{{ account.state ? 'Activo' : 'Inactivo' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




<div class="container mt-5">
  <div class="card text-center" style="background-color: transparent;">
    <img [src]=" customer?.avatarUrl || 'https://i.pinimg.com/474x/bd/f4/d3/bdf4d3fe1f9a17136319df951fe9b3e0.jpg'" class="rounded-circle mx-auto d-block mt-4" style="width: 10rem; height: 10rem;">
    <div class="card-body">
      <h4 class="card-title">Nombre: {{ customer?.fullName }}</h4>
      <p class="card-text">Id de Usuario: {{ customer?.id }}</p>
    </div>
    <div class="btn-container d-flex justify-content-between mt-4">
      <button (click)="openEditModal()" class="btn btn-primary mr-3">Agregar tipo de cuenta</button>
      <button (click)="openEditModal2()" class="btn btn-primary">Agregar depósito</button>
    </div>
    <div class="mt-4">
      <button [routerLink]="['/customer']" class="btn btn-danger">Cambios de cuenta</button>
    </div>
  </div>
</div>




<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Registro</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-createaccounttype></app-createaccounttype>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close()"
    >
      Cerrar
    </button>
  </div>
</ng-template>
