<div class="container mx-auto px-4">
  <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-10">
    <div class="px-6">
      <div class="flex flex-wrap justify-center mt-10">
        <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
          <div class="relative">
            <img alt="profile" class="shadow-xl rounded-full h-auto align-middle border-none" style="width: 150px;" src="{{this.auth.currentUser?.customer?.avatarUrl || '/assets/avatar/default-avatar.jpg'}}">
          </div>
        </div>
        <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
          <div class="py-6 px-3 mt-32 sm:mt-0">
            <button class="bg-blue-500 hover:bg-blue-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150" type="button">
              Editar
            </button>
          </div>
        </div>
        <div class="w-full lg:w-4/12 px-4 lg:order-1">
          <div class="flex justify-center py-4 lg:pt-4 pt-8">
          </div>
        </div>
      </div>
      <div class="text-center mt-12">
        <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700">
          {{this.auth.currentUser?.customer?.fullName}}
        </h3>
        <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
          <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
          {{this.auth.currentUser?.customer?.documentType?.name}}: {{this.auth.currentUser?.customer?.document}}
        </div>
        <div class="text-sm leading-normal mt-10 mb-2 text-blueGray-400 uppercase">
          Contacto
        </div>
        <div class="mb-2 text-blueGray-600">
          Email: {{this.auth.currentUser?.customer?.email}}
        </div>
        <div class="mb-10 text-blueGray-600">
          Telefono/Celular: {{this.auth.currentUser?.customer?.phone}}
        </div>
      </div>
    </div>
  </div>
</div>
