body {
  background: #1c1c1c;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 100px auto;
  border-radius: 50%;
  border: 8px solid #00ff00;
  border-top-color: #00b300;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
