<p class="text-xl-center">With Observer</p>

<h2 *ngIf="textTransform()">{{(textTransform() | async)}}</h2>

<h2 *ngIf="changePhone()">{{(changePhone() | async)}}</h2>

<h2 *ngIf="someCustomer()">{{(someCustomer() | async)}}</h2>

<p class="text-xl-center">Without Observer</p>

<h3 *ngIf="cedulaFilter()">{{(cedulaFilter())}}</h3>

<h3 *ngIf="setState()">{{(setState())}}</h3>

<h3 *ngIf="allTrue()">{{allTrue()}}</h3>

<p class="text-xl-center">Function composition</p>

<h3 *ngIf="getInfo(showInfo)">{{getInfo(showInfo)}}</h3>

