
<br>
<label>showCustomerData</label>
<div> Customer: {{showCustomerData("3303054-3")}}</div>

<br>
<label>showIdAndFullnameAllCustomers</label>
<div> Customers: {{showIdAndFullnameAllCustomers(customers)}} </div>


<br>
<label>showCurrentElement</label>
<div> Elemento: {{showCurrentElement()}} </div>

<br>
<label>Sum( a + b )</label>
<div> Resultados: {{sum(1,2)}} </div>

<br>
<label>getCustomersFullNameAndId + sortCustomers</label>
<div> Customers: {{getCustomersFullNameAndId(customers, sortCustomers)}} </div>

<br>
<label>showMailUsers</label>
<div> Customers: {{showMailProviderUsers("mail.com")}} </div>

<br>
<label>showCustomerData</label>
<div> Customer: {{allDataToUpper(showCustomerData("123232-3"))}}</div>
