  <div class="w-full">
    <div class="relative min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
      <div class="rounded-t bg-white mb-0 px-6 py-6">

        <div class="flex flex-col justify-center gap-2">
          <button class="shadow rounded px-8 py-3 hover:bg-blue-600 hover:text-white">Deposit NOW!</button>
          <button class="shadow rounded px-8 py-3 hover:bg-blue-600 hover:text-white">Transfer balance FAST!</button>
          <button class="shadow rounded px-8 py-3 hover:bg-blue-600 hover:text-white"> CREATE new Account </button>
        </div>

      </div>
    </div>
  </div>
