



<section class="form-register"  *ngIf= "(globalService.switchLogUp)" >
  <h4>Sign Up</h4>
  <form [formGroup]="signUpForm" (ngSubmit)="postSignUp()">
    <input class="controls" formControlName="fullName"  type="text" id="fullName" name="fullName"  placeholder="Nombre Completo">

      <select class="controls2" formControlName="documentTypeName" name="documentTypeName" id="documentTypeName">
        <option class="controls" value="" disabled selected hidden>Tipo de Documento</option>   
        <option class="controls" value="Cedula de Identidad" >Cedula de Identidad</option>
        <option class="controls" value="Pasaporte Internacional">Pasaporte Internacional</option>
      </select>

    <input class="controls" formControlName="document" type="text" id="document" name="nombre"  placeholder="N° Documento">
    <input class="controls" formControlName="phone" type="text" id="phone" name="nombre"  placeholder="Teléfono">
    <input class="controls" formControlName="email" type="email" id="email" name="nombre"  placeholder="e-mail">
    <input class="controls" formControlName="password" type="text" id="password" name="nombre"  placeholder="Contraseña">

      <select class="controls2" formControlName="accountTypeName" name="accountTypeName" id="accountTypeName" >
        <option class="controls" value="" disabled selected hidden>Tipo de Cuenta</option>    
        <option class="controls" value="Caja de Ahorro" >Caja de Ahorro</option>
        <option class="controls" value="Cuenta Corriente">Cuenta Corriente</option>
      </select>

    <button class="boton" type="submit"  (click)="true"  >Sign Up</button>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

    <div class="google-btn">
      <div class="google-icon-wrapper">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
      </div>
      <p class="btn-text" (click)="pickGoogle()"><b> Sign Up with google</b></p>
    </div>
   
    <p>Ya estás registrado?</p> <a class= "link" (click)="(globalService.valorCaseLogin = 1)" >Ingresar!</a>
  </form>
</section>

<!--Nota: Saque el "href=" ya que este si esta vacio te redirige a la propia pagina en la que estoy.
Esto hacia que se restablecieran las variables buleanas de control-->