body {
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
    width: 250vh;
  }
  


  form {
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
    padding: 20px;
    width: 800px;
    
    height: 800px;
    animation: form-slide-down 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
  h1{

    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
    padding: 20px;
    width: 400px;
    align-items: "relative";
    flex-direction: column;
    width: 30%;
  }
  
  @keyframes form-slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  input[type="text"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
  }
  
  input[type="text"]:focus,
  input[type="tel"]:focus,
  select:focus {
    background-color: rgb(197, 193, 253);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
    outline: none;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  input[type="submit"],
  input[type="button"] {
    width: 40%;
    padding: 10px;
    font-size: 18px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover,
  input[type="button"]:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.6);
  }


  //de aca para abajo toolbar

  