<!DOCTYPE html>
<html>
<head>

  

    <title >Formulario de Registro Bancario</title>
</head>
<body>


    <div class="container">
    <h1>Formulario de Registro</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="register()">
      <label for="nombre">Nombre completo:</label>
      <input formControlName="fullname" type="text" id="fullname" name="fullname">

      <label for="documento">Documento:</label>
      <input formControlName="document" type="text" id="document" name="document" >

      <label for="tipoDoc">Tipo de documento:</label>
      <select formControlName="documentTypeId" id="tipoDoc" name="tipoDoc">
        <option value="cedula">Cedula</option>
        <option value="pasaporte">Pasaporte</option>
      </select>

      <label for="phone">Telefono:</label>
      <input formControlName="phone" type="tel" id="phone" name="phone">

      <label for="tipoAcc">Tipo de Cuenta:</label>
      <select formControlName="accountTypeId" id="typeAcc" name="tipoAcc">
        <option value="Caja Ahorro">Caja ahorro</option>
        <option value="Cuenta Dolares">Cuenta Dolares</option>
      </select>

      <label for="email">Email:</label>
      <input formControlName="email" type="text" id="email" name="email" required>

      <label for="password">Passowrd:</label>
      <input formControlName="password" type="text" id="password" name="password" required>

      <div class="buttons">
        <input type="button" value="Atrás">
        <input type="submit"  (click)="true"  value="Registrar">
      </div>

    </form>
  </div>
</body>
</html>