<div class="menu">
  <header>
      <div class="divheader">
          <nav class="navbar">
              <div>
                  <h2>Banco Tironi</h2>
              </div>
              <ul class="botones">
                <a href="#"[routerLink]="['/home']">Home</a>
                <a href="#"[routerLink]="['/']">Mis datos</a>
                <a href="#"[routerLink]="['/']">Mis Cuentas</a>
                <a href="#"[routerLink]="['/deposit']">Depositos</a>
                <a href="#"[routerLink]="['/transfer']">Transferencias</a>
                <a href="#"[routerLink]="['/search']">Buscar</a>
                <a href="#"[routerLink]="['/ejercicio']">Funcional</a>
                <a href="#" (click)="logOut()">Log Out</a>
              </ul>
          </nav>
      </div>
  </header>
</div>
