.container{
    position: relative;
    justify-content: center;
    align-content: center;
    margin-bottom: 250px;
    
}


body {
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
    
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
    
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    //-webkit-border-radius: 100px;
    //-moz-border-radius: 100px;
    //border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #fe6047;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #5eaeef;
    font-size: x-large;
}


.user-name {
    color: #ffffff;
    font-size: x-large;
}


.account-settings .about p {
    font-size: 0.825rem;
}

.form-control {
    border-radius: 0px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #212127;
    color: #ffffff;
    border-radius: 0px;
}

.cabeza {
    color: #5eaefff2;
    font-size: x-large;
    margin-top: 15px;
}

//****************BOTTOM************************************************

.text-right{
    
    display: flex;
    justify-content: right;
    
}

.boton {
    width: 25%;
    background: #fe6047;
    border: none;
    padding: 12px;
    color: white;
    //margin: 18px 0;
    font-size: 16px;
    
    margin-left: 20px;
    margin-top: 30px;
    
  }
  
  .boton:hover{
    background-color: #5eaefff2;
  }