<p>
  <mat-toolbar color="primary">
    <span routerLink="">Virtual Banking APP - User Desktop </span>
    <span class="spacer"></span>

    <span *ngif="">
    <button class="desk-navbar-button" mat-raised-button routerLink="/desktop/operation">
      <mat-icon>assignment_ind</mat-icon> Operations
    </button>

    <button class="desk-navbar-button" mat-raised-button routerLink="/desktop/administration">
      <mat-icon>assignment_ind</mat-icon> Administration
    </button>

    <button class="desk-navbar-button" mat-raised-button routerLink="/desktop/management">
      <mat-icon>assignment_ind</mat-icon> Management
    </button>
  </span>
    <span class="spacer"></span>
    <button class="navbar-button" mat-fab extended color="accent"  routerLink="/">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </mat-toolbar>
</p>
