<mat-toolbar color="primary" *ngIf="(authService.getUserStatus()) === false; else privateNavbar">
  <span (click)="appComp.toHome()" >Virtual Banking APP</span>
  <span class="spacer"></span>
  <button class="navbar-button" mat-fab extended color="accent" (click)="appComp.toRegister()">
    <mat-icon>assignment_ind</mat-icon> Sign Up
  </button>
  <button class="navbar-button" mat-fab extended color="accent" (click)="appComp.toLogin()">
    <mat-icon>login</mat-icon> Login
  </button>
</mat-toolbar>

<ng-template #privateNavbar>
  <mat-toolbar color="primary">
    <span routerLink="/desktop" >Virtual Banking APP - User Desktop </span>
    <span class="spacer"></span>


    <button class="desk-navbar-button" mat-raised-button *ngFor= "let item of desktopMenu" [routerLink]= 'item.redirect'>
       {{ item.name }}
       <mat-icon>assignment_ind</mat-icon>
     </button>

    <!-- <button class="desk-navbar-button" mat-raised-button routerLink="/desktop/profile">
      <mat-icon>assignment_ind</mat-icon> Profile
    </button> -->

    <span class="spacer"></span>
    <button class="navbar-button" mat-fab extended color="accent" (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </mat-toolbar>
</ng-template>
