<!-- <div *ngIf="customer">
  <p>Account Balance: {{  }}</p>
  <p>Account Type: {{ customer.accountType.name }}</p>
  <p>ID: {{ customer.id }}</p>
  <p>Name: {{ customer.accountUser.customer.name }}</p>
  <hr>
  <p>Document: {{ customer.accountUser.document }}</p>
  <p>Document Type: {{ customer.accountUser.documentType }}</p>
  <p>Email: {{ customer.accountUser.email }}</p>
  <p>Full Name: {{ customer.accountUser.fullName }}</p>
  <p>Phone: {{ customer.accountUser.phone }}</p>
  <p>State: {{ customer.accountUser.documentType.state }}</p>
</div> -->

<p>Nombre: {{ customer.accountUser.customer.fullName}}</p>
<p>Email: {{ customer.accountUser.customer.email}}</p>
