<form [formGroup]="formEdit" (ngSubmit)="saveChanges()">
  <div class="form-group">
    <label for="accountType">Tipo de documento:</label>
    <select class="form-control" [value]="customer.documentType.name" formControlName="documentType" id="accountType">
      <option>Cedula</option>
      <option>Pasaporte</option>
    </select>
  </div>
  <div class="form-group">
    <label for="fullName">Nombre completo:</label>
    <input formControlName="fullName" type="text" class="form-control" id="fullName"  [value]="customer.fullName"  placeholder="Ingrese su nombre completo">
  </div>
  <div class="form-group">
    <label for="documentID">Numero Documento:</label>
    <input formControlName="document" type="text" class="form-control" id="document"  [value]="customer.document"  placeholder="Ingrese su numero de documento">
  </div>
  <div class="form-group">
    <label for="email">Correo electrónico:</label>
    <input formControlName="email" type="email" class="form-control" id="email" [value]="customer.email" placeholder="Ingrese su correo electrónico">
  </div>
  <div class="form-group">
    <label for="phone">Teléfono:</label>
    <input formControlName="phone" type="tel" class="form-control" id="phone" [value]="customer.phone" placeholder="Ingrese su número de teléfono">
  </div>
  <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>
