/* You can add global styles to this file, and also import other style files */

html, body {
  height: 60%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../src/assets/img/background02.png);
  background-size: cover;
}



.container{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.footer {
  position: fixed;
  bottom: 5;
  }
