.body{
    background: rgb(255, 255, 255);
    position: relative;
    padding-bottom: 3em; /*ESTA PROPIEDAD ES PARA QUE EL FOOTER COLAPSE CONTRA EL BODY*/
    min-height:100vh; /* INDICO AL BODY QUE TIENE QUE MEDIR POR LO MENOS LO QU EMIDE EL VIEWPORT*/
  }

/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/