/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 60%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(89, 80, 80);
 // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/assets/img/background02.png);
 // background-size: cover;
}

.spacer {
  flex: 1 1 auto;
}

.footer {
  position: fixed;
  bottom: 5;
}

