<mat-card>
  <mat-card-content>
    <form>
      <h2>Sign Up</h2>
      <mat-form-field>
        <input matInput placeholder="Email" name="username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
      <h3>¿Ya tienes una cuenta? </h3>
      <button mat-raised-button color="primary">Sing In</button>
    </form>
  </mat-card-content>
</mat-card>
