
.footer {
    background-color: #212121;
    padding: 25px;
    position: absolute;
    bottom: 0PX;
    width: 100%;
  
  }
  
  .footer div {
    text-align: center;
    font-family: Helvetica;
    color: #f8faf8;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .footer a {
  
    font-family: Helvetica;
    color: #c4fa00f2;
    margin-left: 20px;
  }
  