<section class="form-register" *ngIf="generalService.switchSignIn">
    <h4>Sign In</h4>
    <form>
        <input class="controls" type="text" id="tipo" name="tipo" placeholder="Usuario">
        <input class="controls" type="text" id="nombre" name="nombre" placeholder="Contraseña">

        <button class="boton" type="submit" (click)="generalService.activeLogin()">Login</button>
        <p>Aun no tenes cuenta con nosotros?</p>
        <button class="boton" (click)="(generalService.valorForm = 2)">Sign Up</button>
    </form>
</section>
