<section class="form-register" *ngIf="generalService.switchSignIn">
    <h4>Sign In</h4>
    <form [formGroup]="signinForm" (ngSubmit)="postSignin()">
        <input 
            class="controls" 
            type="email" 
            placeholder="email"
            formControlName="email">
        <input 
            class="controls" 
            type="password" 
            placeholder="password"
            formControlName="password">
        <button class="boton" type="submit" (click)="generalService.activeLogin()">Login</button>
        <p>Aun no tenes cuenta con nosotros?</p>
        <button class="boton" (click)="(generalService.valorForm = 2)">Registrarse</button>
    </form>
</section>
