.datalabel{
  font-size: large;
  font-weight: bold;
  text-align: right;
  background-color: rgb(170, 158, 126);
  width: 80%;
}

.datafield{
  font-size: larger;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  color: aliceblue;
  background-color: rgb(31, 28, 28);
  width: 80%;
}
